.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 712px;
  height: 621px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/a056fb83-388e-4036-8d9f-bb6f4992527b.png");
  background-position: 65.48% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1998px;
}

.u-section-2 .u-shape-1 {
  width: 360px;
  height: 134px;
  background-image: none;
  margin: 1262px 124px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-2 .u-shape-1 {
    width: 309px;
    margin-top: 957px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-2 .u-shape-1 {
    width: 248px;
    height: 95px;
    margin-top: 736px;
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-2 .u-shape-1 {
    width: 192px;
    height: 74px;
    margin-top: 554px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 65.48% 35.36%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-shape-1 {
    width: 142px;
    height: 61px;
    margin-top: 396px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/a056fb83-388e-4036-8d9f-bb6f4992527b.png");
  background-position: 72.4% 65.44%;
  background-size: 170%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-shape-1 {
  width: 238px;
  height: 179px;
  margin: 316px 380px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 100% 67.28%;
    background-size: 185%;
  }

  .u-section-3 .u-shape-1 {
    width: 190px;
    height: 154px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 89.79% 67.13%;
    background-size: 225%;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 305px;
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 90% 67.6%;
  }

  .u-section-3 .u-shape-1 {
    width: 147px;
    height: 119px;
    margin-top: 346px;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 83.47% 75.72%;
    background-size: auto 235%;
  }

  .u-section-3 .u-shape-1 {
    width: 118px;
    height: 95px;
    margin-top: 294px;
    margin-left: 18px;
  }
} .u-section-4 {
  background-image: url("images/a056fb83-388e-4036-8d9f-bb6f4992527b.png");
  background-position: 72.4% 65.44%;
  background-size: 170%;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-shape-1 {
  width: 79px;
  height: 41px;
  margin: 404px 12px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 207px;
  height: 207px;
  margin: -142px 396px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 100% 67.28%;
    background-size: 185%;
  }

  .u-section-4 .u-shape-1 {
    width: 66px;
    height: 33px;
    margin-top: 373px;
    margin-right: 231px;
  }

  .u-section-4 .u-image-1 {
    width: 187px;
    height: 187px;
    margin-top: -127px;
    margin-right: auto;
    margin-left: 175px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 89.79% 67.13%;
    background-size: 225%;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 382px;
    margin-right: 103px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -122px;
    margin-left: 91px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 90% 67.6%;
  }

  .u-section-4 .u-shape-1 {
    width: 48px;
    height: 22px;
    margin-top: 401px;
    margin-right: 78px;
  }

  .u-section-4 .u-image-1 {
    width: 143px;
    height: 164px;
    margin-top: -104px;
    margin-left: 59px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 83.47% 75.72%;
    background-size: auto 235%;
  }

  .u-section-4 .u-shape-1 {
    width: 37px;
    height: 18px;
    margin-top: 342px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 107px;
    height: 124px;
    margin-top: -81px;
    margin-left: 21px;
  }
} .u-section-5 {
  background-image: url("images/a056fb83-388e-4036-8d9f-bb6f4992527b.png");
  background-position: 72.4% 65.44%;
  background-size: 170%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-image-1 {
  width: 207px;
  height: 207px;
  margin: 302px 396px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 54px;
  height: 41px;
  margin: -105px 27px 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 79px;
  height: 41px;
  margin: -41px 14px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 100% 67.28%;
    background-size: 185%;
  }

  .u-section-5 .u-image-1 {
    width: 187px;
    height: 187px;
    margin-top: 279px;
    margin-right: auto;
    margin-left: 175px;
  }

  .u-section-5 .u-image-2 {
    width: 46px;
    margin-top: -97px;
    margin-right: 241px;
  }

  .u-section-5 .u-shape-1 {
    width: 66px;
    height: 33px;
    margin-top: -37px;
    margin-right: 231px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 89.79% 67.13%;
    background-size: 225%;
  }

  .u-section-5 .u-image-1 {
    margin-top: 293px;
    margin-left: 91px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -98px;
    margin-right: 123px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -41px;
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 90% 67.6%;
  }

  .u-section-5 .u-image-1 {
    width: 143px;
    height: 164px;
    margin-top: 320px;
    margin-left: 59px;
  }

  .u-section-5 .u-image-2 {
    width: 36px;
    height: 32px;
    margin-top: -88px;
    margin-right: 84px;
  }

  .u-section-5 .u-shape-1 {
    width: 48px;
    height: 22px;
    margin-top: -27px;
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 83.47% 75.72%;
    background-size: auto 235%;
  }

  .u-section-5 .u-image-1 {
    width: 107px;
    height: 124px;
    margin-top: 279px;
    margin-left: 21px;
  }

  .u-section-5 .u-image-2 {
    height: 18px;
    margin-top: -61px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 37px;
    height: 18px;
    margin-top: -18px;
    margin-right: 0;
  }
} .u-section-6 {
  display: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}.cuadrovoto {
}